<div>
  <div style="float: left;padding-right: 2em"> 
    <ul>
      <li class="bold-toggle">Name : {{firstName}}</li>
      <li class="bold-toggle">Last Name : {{LastName}}</li>
    </ul>
    <button (click)="toggleBold()">Toggl Bold</button>
    <button (click)="addPara()">Add 10 Para</button> 
  </div>
  <div style="float: left;">
    Change Text
    <p id="changeText" (mouseover)="invertText()">Just as it</p>
  </div>
  </div>
  <div id='addPara'>
  
  </div>
  
  <a routerLink="/test2">Test2</a>